<!-- ko if: showTasks -->
<ul class="task-card-list" data-bind="sortable: {
                            data: tasks,
                            afterRender: view.MiniMenu.init }">
  <li class="task-card-wrap" draggable="true" data-bind="visible: ($index() < 2 || !$parent.isCollapse() || !$parent.user) && isVisible()">
    <task-card params="task: $data"></task-card>
  </li>
</ul>
<!-- /ko -->

<!-- ko if: user -->
<a href="#" class="expand-collapse-task-list-button" data-bind="click: toggleCollapse, visible: tasks().length > 2">
  <span class="glyphicon" data-bind="css: {
      'glyphicon-collapse-down': isCollapse(),
      'glyphicon-collapse-up': !isCollapse()
  }"></span>
  <span data-bind="text: isCollapse() ? 'View ' : 'Hide '"></span>
  <span class="badge" data-bind="text: tasks().length"></span>
</a>
<!-- /ko -->
