*~
*.swp

.idea/

node_modules/

css/

.sass-cache

*.log

public/images/avatar/*
!public/images/avatar/.gitkeep
public/dist/*
!public/dist/.gitkeep

temp/
tmp/

coverage/

/config/*
!/config/default.json
!/config/db.js

.nyc_output/

__pycache__
tacowasa.iml

*.pyc
