<div class="mini-menu">
  <div class="mini-menu-default">
    <button type="button" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
  </div>
  <ul class="mini-menu-list">
    <li data-toggle="modal" data-target="#task-detail-modal"
        data-bind="click: onClickTaskDetail,
                        tooltip: { title: 'Detail', placement:'left', delay: { show: 200, hide: 100 } }">
      <button type="button" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      </button>
    </li>

    <li data-bind="click: onClickTaskNextStage, tooltip: { title: 'Next stage', placement:'right', delay: { show: 200, hide: 100 } }">
      <button type="button" class="btn btn-sm btn-default"
              data-bind="css: {disabled: !enabledNextStageItem()}, attr: {disabled: !enabledNextStageItem()}">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </li>

    <li data-toggle="modal" data-target="#archive-task-modal"
        data-bind="click: onClickTaskArchive,
                        tooltip: { title: 'Archive', placement:'right', delay: { show: 200, hide: 100 } }">
      <button type="button" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </li>

    <li data-toggle="modal" data-target="#assign-task-modal"
        data-bind="click: onClickTaskAssign,
                        tooltip: { title: 'Assign', placement:'right', delay: { show: 200, hide: 100 } }">
      <button type="button" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </button>
    </li>

    <!-- ko if: task.stage().name() === 'doing' && user === $root.loginUser -->
    <li data-bind="click: task.isWorking() ? onClickStopWork : onClickStartWork,
                        tooltip: { title: isWorking() ? 'Stop to work' : 'Start to work',
                        placement:'left', delay: { show: 200, hide: 100 } }">
      <button type="button" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-play" aria-hidden="true" data-bind="
                    css: { 'glyphicon-play' : !task.isWorking(), 'glyphicon-stop': task.isWorking() }"></span>
      </button>
    </li>
    <!-- /ko -->

    <!-- TODO: github -->
    <!-- ko if: false -->
    <!-- ko if: false && github && github().url -->
    <li>
      <a target="_blank" class="btn btn-sm btn-default" href="" data-bind="attr: { href: github().url },
                tooltip: { title: 'GitHub link', placement:'right', delay: { show: 200, hide: 100 } }">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
      </a>
    </li>
    <!-- /ko -->
    <!-- /ko -->

    <li data-bind="click: onClickTaskPrevStage, tooltip: { title: 'Prev stage', placement:'left', delay: { show: 200, hide: 100 } }">
      <button type="button" class="btn btn-sm btn-default"
              data-bind="css: {disabled: !enabledPrevStageItem()}, attr: {disabled: !enabledPrevStageItem()}">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
    </li>
  </ul>