<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <script>window.username = '<%= username %>';</script>

    <!-- include javascripts -->
    <script src="/common.js"></script>
    <script src="/kanban.js"></script>

</head>
<body>

<% include _header %>

<div id="toolbar" class="navbar-inverse" data-bind="visible: true" style="display: none">
    <div class="navbar-collapse collapse">
        <h1 class="navbar-text" id="project-name"><%= displayTitle %></h1>
        <div class="btn-group navbar-left" role="group" id="toolbar-btn-group">
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#create-task-modal" data-bind="tooltip: { title: '新規タスク作成', placement: 'bottom' }">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> <span class="sr-only">Create task</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#users-settings-modal" data-bind="tooltip: { title: 'メンバー管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-user"></span> <span class="sr-only">Users</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-labels-modal" data-bind="tooltip: { title: 'ラベル管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-tags"></span> <span class="sr-only">Labels</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-settings-modal" data-bind="tooltip: { title: 'プロジェクト管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-cog"></span> <span class="sr-only">Settings</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-stats-modal" data-bind="tooltip: { title: '統計', placement: 'bottom' }">
                <span class="glyphicon glyphicon-stats"></span> <span class="sr-only">Stats</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-bind="visible: viewMode() === 'full', click: viewMode.bind(this, 'compact'), tooltip: { title: 'コンパクトモードに変更', placement: 'bottom' }">
                <span class="glyphicon glyphicon-resize-small"></span> <span class="sr-only">Compact View</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-bind="visible: viewMode() === 'compact', click: viewMode.bind(this, 'full'), tooltip: { title: 'フルモードに変更', placement: 'bottom' }">
                <span class="glyphicon glyphicon-resize-full"></span> <span class="sr-only">Full View</span>
            </button>
        </div>
        <form class="navbar-form navbar-left search-form" role="search">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="e.g., 'cost:5 label:bugfix'" data-bind="textInput: searchQuery">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
        <div class="navbar-text" data-bind="if: loginUser() && loginUser().workingTask()">
            <span class="user-working-message alert alert-success">
                <span class="glyphicon glyphicon-play-circle"></span> 作業中です。
                (<span data-bind="text: loginUser().workingTimeFormat()"></span>経過)
            </span>
        </div>
        <div class="navbar-right" role="group" id="joined-members-group">
            <ul data-bind="foreach: {
                data: joinedUsers,
                afterAdd: view.effects.fadeIn,
                beforeRemove: view.effects.fadeOut }">
                <li data-bind="tooltip: { title: username, placement: 'bottom' }">
                    <img data-bind="attr: { src: avatarUrl }" class="user-avatar" src="" width="34" height="34">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="loader" data-bind="visible: false" style="display: block"></div>

<div id="main" class="main" data-bind="visible: true, css: {'compact': viewMode() === 'compact'}" style="display: none">
    <div class="blocks">
        <ul class="stage-blocks" data-bind="foreach: {data: stages, as: 'stage'}">
            <li class="stage-block" data-bind="attr: {id: stage.name}">
                <h2 class="stage-title">
                    <span data-bind="text: stage.displayName"></span>
                    <span class="badge" data-bind="text: $root.project.getTasks({stageOrWhere: stage}).length"></span>
                    <!--ko if: stage.name() === 'done' -->
                    <a href="#" class="all-done-archive-button" data-toggle="modal" data-target="#archive-all-task-modal">Archive all</a>
                     <!--/ko -->
                    <span></span>
                </h2>

                <!--<task-card-list params="stage: stage, user: null"></task-card-list>-->
            </li>
        </ul>

        <!-- user-block-area -->
        <div class="user-block-area">
            <ul class="user-blocks" data-bind="foreach: { data: users, as: 'user' }">
                <li class="user-block" data-bind="visible: user.visible">
                    <user-label params="user: user"></user-label>

                    <ul class="stage-blocks" data-bind="foreach: { data: $root.stages().filter(x => x.assigned()), as: 'stage' }">
                        <li class="stage-block">
                            <div class="user-cell-block">
                                <!--<task-card-list params="stage: stage, user: user"></task-card-list>-->
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- user-block-area -->
    </div>

    <% include alert %>

    <div id="activity-wrap">
        <div id="activity" class="scroll-wrap">
            <ul data-bind="foreach: { data: activitiesTexts, afterAdd: view.effects.scrollDown }">
                <li data-bind="text: $data"></li>
            </ul>
        </div>
    </div>
</div>

<task-detail-modal></task-detail-modal>
<create-task-modal></create-task-modal>
<assign-task-modal></assign-task-modal>
<archive-task-modal></archive-task-modal>
<project-settings-modal></project-settings-modal>
<users-settings-modal></users-settings-modal>
<user-settings-modal></user-settings-modal>
<remove-user-modal></remove-user-modal>
<archive-all-tasks-modal></archive-all-tasks-modal>
<project-labels-modal></project-labels-modal>
<project-stats-modal></project-stats-modal>

</body>
</html>
