<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>

    <!-- include javascripts -->
    <script src="/common.js"></script>
    <script src="/user.js"></script>
</head>
<body>

<% include _header %>

<div class="main">
    <div class="container">
        <h1><%= displayTitle %></h1>
        <p>Hi, <%= user.username %>.</p>

        <div class="projects">
            <h2>Projects</h2>
            <div class="project-buttons">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#create-project-modal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
                </button>
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#import-project-modal">
                    <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import
                </button>
            </div>
            <ul class="projects" data-bind="foreach: {
                data: projects,
                afterAdd: view.effects.fadeIn,
                beforeRemove: view.effects.fadeOut }">
                <li>
                    <a data-bind="attr: { href: url }">
                        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                        <span data-bind="text: name"></span>
                    </a>
                    <span class="created-at" data-bind="text: createdAt"></span>
                    <a class="trash glyphicon glyphicon-trash" aria-hidden="true" data-toggle="modal" data-target="#remove-project-modal"
                       data-bind="click: $root.selectedProject"></a>
                </li>
            </ul>
        </div>
    </div>

    <% include alert %>
</div>

<create-project-modal></create-project-modal>
<remove-project-modal></remove-project-modal>
<import-project-by-github-modal></import-project-by-github-modal>

</body>
</html>
