@charset "UTF-8";

.task-qr {
  width: 88px;
  height: 88px;
  padding: 0;
  margin-left: 12px;
  display: inline-block;
  vertical-align: top;
}

.task-card.have-task-qr {
  height: 100px;

  .task-card-title-wrap {
    width: 150px;
    height: 90px;
    margin-left: 6px;
  }

  .task-card-label-block {
    height: 100px;
  }
}

.task-card.stagnant-task.have-task-qr > .task-card-label-block {
  height: 98px;
}

.task-qr-hovered {
  background-color: #a2dcef;
}

.task-qr-picked {
  background-color: #73aee5;
}
