@charset "UTF-8";

#task-detail-modal {
  .all-work-time-wrapper {
    display: inline-block;
    margin-left: 10px;
    padding: 2px 6px;
  }

  .task-cost {
    display: inline-block;
    width: 220px;
  }

  .task-labels-view {
    margin-top: 6px;
    list-style: none;
    li {
      display: inline-block;
    }
  }

  .has-error .text-danger {
    font-size: 85%;
  }

  .edit-work-history {
    padding: 2px 6px
  }

  .work-history {
    table {
      margin: 0;
    }

    td {
      vertical-align: middle;
    }

    .add-work {
      margin-left: 8px;
    }

    .remove-work {
      font-size: 14px;
      color: #BD2C00;
      cursor: pointer;
      margin-left: 6px;
    }
  }

  .edit-body-btn {
    margin-left: 10px;
    padding: 2px 6px;
  }

  .preview-body-btn {
    margin-left: 10px;
    padding: 2px 6px;
  }
}
