<div class="task-card" draggable="true" data-bind="visible: task.isVisible">
  <div class="task-card-right-wrapper">
    <task-card-mini-menu params="task: task, element: $element"></task-card-mini-menu>
    <div class="task-weight-badge" data-bind="text: task.cost().value, css: {
            'weight-badge-low'   : task.cost().value() === 1,
            'weight-badge-medium': task.cost().value() === 3,
            'weight-badge-high'  : task.cost().value() === 5 }"></div>
  </div>
  <ul class="task-card-label-block" data-bind="foreach: task.labels">
    <li class="task-card-label-inner-block">
      <div class="task-card-label" data-bind="
                style: { 'background-color': '#' + color() },
                tooltip: { title: name, placement: 'right' }"></div>
    </li>
  </ul>

  <div class="task-card-title-wrap" data-toggle="modal" data-target="#task-detail-modal" data-bind="click: onClickTaskCard">
    <!-- ko if: task.stage().canWork -->
    <span class="glyphicon glyphicon-play-circle task-working-icon" data-bind="
            click: onClickWork,
            css: {'task-working-active': task.isWorking}"></span>
    <!-- /ko -->
    <span class="card-title" data-bind="text: task.displayTitle, css: { 'is-working': task.stage().canWork }"></span>
  </div>
</div>
