@charset "UTF-8";

$body-bg-color: #EFEBE9;

// navbar
$navbar-bg-color: #795548;
$navbar-border-color: #795548;
$navbar-color: #fff;

// toolbar
$toolbar-bg-color: #3E2723;

// ribbon
$ribbon-bg-color: #3F51B5;
$ribbon-bg-color--wip-limited: #f44336;

// task card
$task-card-width: 300px;
$task-card-height: 50px;
$task-card-padding: 6px;

// stage block
$stage-block-width: 300px;
$stage-block-padding: 10px;
$stage-block-horizontal-margin: 30px;

// user
$user-height: $task-card-height * 2 + 45;
$user-padding-height: 20px;
$user-margin-bottom: 30px;
$user-height: $user-height + 15;

// activity
$activity-wrap-height: 15%;
