@charset "UTF-8";
@import "basic";
@import "mini-menu";
@import "variables";
@import "loader";
@import "toolbar";
@import "~bootstrap-select/sass/bootstrap-select";

body{
  background-color: $body-bg-color;
}

#main{
  height: 100%;
  position: relative;
  z-index: 1;
  transition: width .2s ease-in-out;
  width: ($stage-block-width + $stage-block-horizontal-margin * 2) * 7 + $stage-block-horizontal-margin * 2;
}

#main.compact {
  width: ($stage-block-width + $stage-block-horizontal-margin * 2) * 5 + $stage-block-horizontal-margin * 2;

  .task-board {
    height: 100%;
  }

  #activity-wrap {
    height: 0;
  }

  #issue-block {
    margin-left: -$stage-block-width;
    overflow: hidden;
  }

  #archive-block {
    overflow: hidden;
  }
}

.task-board {
  transition: all .3s ease-in-out;
  position: relative;
  float: left;
  height: 100% - $activity-wrap-height;
  overflow: hidden;
  &::after{
    clear: both;
    display: table-cell;
    content: '';
  }
  .stage-blocks {
    position: relative;
    list-style-type: none;
    height: 100%;
    margin: 0;
  }
}

.stage-block {
  float: left;
  width: $stage-block-width;
  padding: 0;
  height: 100%;
  margin: 0 $stage-block-horizontal-margin;
  overflow: visible;
  background-color: #fefefe;
  box-shadow: 0 0 10px #c0c0c0;

  .stage-title {
    position: relative;
    font-size: 2rem;
    margin: 0 0 1em;
    padding: 1em 20px .8em;
    border-bottom: 1px dashed #c0c0c0;
    color: #494949;
    text-shadow: 0 0 1px #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;

    .badge {
      vertical-align: 3px;
    }
  }

  &#issue-block {
    transition: margin-left .2s ease-in-out;
    margin-left: $stage-block-horizontal-margin * 2;
  }

  &#archive-block {
    transition: margin-left .2s ease-in-out;
  }

  .cell-block {
    $offset: 1px;
    padding: $stage-block-horizontal-margin + 10px $stage-block-horizontal-margin + $offset 1em;
    margin: -$stage-block-horizontal-margin + 10px (-$stage-block-horizontal-margin - $offset) 0;
    list-style-type: none;
    height: calc(100% - 60px);
    overflow: auto;
    position: static;

    .dummy-user-cell-block {
      height: $user-height + 14;
      margin-bottom: $user-margin-bottom;
      padding-top: $user-padding-height;
      padding-bottom: $user-padding-height;
      position: relative;

      &:last-child {
        margin-bottom: $user-margin-bottom;
      }
    }
  }
}

.user-block-area {
  $offset: 10px;
  position: absolute;
  top: 70px;
  left: $stage-block-width * 2 + $stage-block-horizontal-margin * 4;
  width: $stage-block-width * 3 + $stage-block-horizontal-margin * 6;
  overflow: auto;
  height: calc(100% - 70px);
  margin: 0 ($stage-block-horizontal-margin - $offset);
  padding: 0 $offset;
  overflow-x: hidden;

  ul.user-blocks {
    position: relative;

    li.user-block {
      position: relative;
      width: $stage-block-width * 3 + $stage-block-horizontal-margin * 4;
      min-height: 175px;
      z-index: 5;
      list-style: none;

      &::after{
        clear: both;
        display: table-cell;
        content: '';
      }

      .user-label-area {
        font-size: 1.2rem;
        background-color: $ribbon-bg-color;
        color: #fff;
        padding: 7px 8px 6px;
        position: relative;
        box-shadow: 0 1px 1px #ccc;
        $ribbon-size: 10px;
        $ribbon-offset: 20px;

        &::before{
          content: '';
          width: 0;
          height: 0;
          border: $ribbon-size solid transparent;
          border-top-color: darken($ribbon-bg-color, 0%);
          position: absolute;
          right: $ribbon-offset;
          bottom: -($ribbon-size * 2);
        }

        .user-name {
          .user-avatar {
            width: 24px;
            height: 24px;
          }
          .close {
            font-size: 14px;
            float: none;
          }
          .user-settings-button {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #ccc;
            }
          }
        }
        .alert {
          padding: 4px 4px 4px 6px;
        }
        .wip-limited-message{
          font-size: 90%;
          margin-left: 1rem;
        }
        .user-working-message {
          font-size: 90%;
          margin-left: 1rem;
        }
      }

      .stage-blocks {
        margin:20px (-$stage-block-horizontal-margin);
        &::after{
          clear: both;
          display: block;
          content: '';
        }
        .stage-block {
          background-color: inherit;
          box-shadow: none;
          margin: 0 $stage-block-horizontal-margin;
          .user-cell-block {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.user-cell-block {
  margin-bottom: $user-margin-bottom;
  padding-top: $user-padding-height;
  padding-bottom: $user-padding-height;
  position: relative;

  .card-list {
    min-height: $task-card-height * 2 + $task-card-padding * 4;
    list-style-type: none;
    height: 100%;
    overflow: visible;
  }

  .each-all-issues-view-button {
    display: block;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    box-shadow: 0 0 10px #ccc;
    border: 1px solid #fff;
    background-color: #fff;
    transition: all .2s ease;
    &:hover{
      background-color: #f0f0f0;
    }
    .glyphicon {
      font-size: 18px;
      vertical-align: text-top;
    }
  }
}

.task-labels-view {
  margin-top: 6px;
  li {
    display: inline-block;
  }
}

.all-done-archive-button {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 17px;
  font-size: 14px;
  color: #6f6f6f;
  text-decoration: underline;
}

#activity-wrap {
  transition: all .2s ease-in-out;
  width: 100%;
  height: $activity-wrap-height;
  position: fixed;
  z-index: 101;
  bottom: 0;
  #activity {
    margin-top: 10px;
    padding-top: 6px;
    padding-left: 8px;
    border-top: 2px solid #000000;
    background-color: #3f3f3f;
    color: #f7f7f7;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    word-wrap: break-word;
  }
}
